.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px !important;
  width: 100px !important;
}

.align {
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .align {
    justify-content: center;
    margin: 0 auto;
  }
}